@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");

body {
    font-family: "Epilogue", sans-serif;
    font-size: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 16px;
}

.header {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    font-size: 54px;
    font-weight: 900;
    margin-bottom: 3.508772%;
    /* 20px/570 */
}

h1 {
    text-shadow: 4px 5px 5px orange;
}

.banner {
    max-width: 1270px;
    margin: 0 auto;
    text-align: center;
    background-color: #28293E;
    padding: 15px;
}

.banner__container {
    max-width: 570px;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 570/602;
}

.banner__content::before {
    content: "";
    width: 64.912281%;
    /* 370px/570 */
    background-color: #32334C;
    border-radius: 50%;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Позиціонування зображення laptop */

.banner__laptop {
    position: absolute;
    left: 0;
    top: 0;
    width: 43.157895%;
    /* 246px/570 */
    height: 53.508772%;
    /* 305px/570 */
    background-color: #B550F8;
    border-radius: 50% 50% 0.813008% 0.813008%;
    /* 2px/246 */
}

.banner__laptop img {
    position: absolute;
    left: 8.536585%;
    /* 21px/246 */
    top: 7.894737%;
    /* 24px/304 */
    width: 100%;
}

/* Позиціонування зображення профілю */

.banner__jery {
    position: absolute;
    left: 56.842105%;
    /* 324px/570 */
    top: 31.395349%;
    /* 189px/602 */
    background-color: #F7CC47;
    width: 43.157895%;
    /* 246px/570 */
    height: 53.508772%;
    /* 305px/570 */
    border-radius: 50% 50% 8px 8px;
    /* 2px/246 */
}

.banner__jery img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.banner__star {
    position: absolute;
    left: 53.333333%;
    /* 304px/570 */
    top: 7.017544%;
    /* 40px/570 */
    width: 19.649123%;
    /* 112px/570 */
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #EF6D58;
}

.banner__star img {
    position: absolute;
    top: 25%;
    /* 28px/112 */
    left: 31.25%;
    /* 35px/112 */
    width: 37.5%;
    /* 42px/112 */
    height: 50%;
    /* 56px/112 */
}

.banner__cloud {
    position: absolute;
    left: 80.350877%;
    /* 458px/570 */
    top: 13.289037%;
    /* 80px/602 */
    width: 19.649123%;
    /* 112px/570 */
}

.banner__cloud img,
.banner__arrow img,
.banner__pointer img {
    color: #8082A5;
    width: 100%;
    height: auto;
}

.banner__arrow {
    position: absolute;
    left: 0;
    top: 56.644518%;
    /* 341px/602 */
    width: 24.912281%;
    /* 142px/570 */
    height: 12.807018%;
    /* 73px/570 */
}

.banner__pointer {
    position: absolute;
    left: 55.087719%;
    /* 314px/570 */
    top: 90.365449%;
    /* 544px/602 */
    width: 8.77193%;
    /* 50px/570 */
    height: 14.385965%;
    /* 82px/570 */
}

.banner__card-icon {
    position: absolute;
    left: 9.824561%;
    /* 56px/570 */
    top: 71.594684%;
    /* 431px/602 */
    width: 37.54386%;
    /* 214px/570 */
    height: 19.649123%;
    /* 112px/570 */
}

.banner__card-icon img {
    width: 100%;
    height: auto;
}

.card {
    max-width: 1270px;
    margin: 0 auto;
    padding-inline: 15px;
    padding-block: 15px;
    background-color: #28293E;
}

.card__container {
    max-width: 448px;
    height: auto;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 448/576;
}

.link__image img {
    width: 100%;
}

.link__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5C2000;
    opacity: 0.3181;
}

.link__image:hover::before {
    transition: all 1s;
    opacity: 0.1;
}

.button {
    position: absolute;
    left: 10.714286%;
    /* 48px/448 */
    top: 72.222222%;
    /* 416px/576 */
    width: 18.75%;
    /* 84px/448 */
    min-height: 38px;
    background-color: #fff;
    text-align: center;
    border-radius: 19px;
    color: #391400;
    text-transform: capitalize;
    line-height: 38px;
}

.button:hover {
    background-color: #9B9B9B;
    border: 1px solid black;
}

.link__title {
    position: absolute;
    left: 10.714286%;
    /* 48px/448 */
    top: 82.8125%;
    /* 477px/576 */
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-transform: uppercase;
}

.link__title:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    text-decoration-color: #9B9B9B;
}

.footer {
    max-width: 1270px;
    margin: 0 auto;
    min-height: 40px;
    background: linear-gradient(95deg, rgba(8, 4, 32, 0.896796218487395) 18%, rgba(10, 6, 50, 0.6811099439775911) 52%, rgba(10, 9, 64, 0.9051995798319328) 81%);
    color: #8082A5;
    text-align: center;
    font-size: 40px;
}