/* Підключення щрифтів локально */
@font-face {
    font-family: "Rotunda";
    src: url("../fonts/Rotunda-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Rotunda";
    src: url("../fonts/Rotunda-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}